version: '3'
services:
  api:
    container_name: sf-clean-api
    build: .
    env_file:
      - .env
    volumes:
      - ".:/var/www/html"
  nginx:
    container_name: reverse-proxy
    image: nginx:alpine
    ports:
      - "8081:8081"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - api